.modal-galery {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--white);
    box-shadow: -0.5rem 0 0.5rem rgba(0, 0, 0, 0.09);
    z-index: 2;
}
.box-content-galery {
    width: 100%;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none
}
.box-content-galery::-webkit-scrollbar {
    display: none;
}
.horizontal .modal-galery {
    right: 0;
    width: 50%;
    height: 100vh;
}
.modal-galery .modal-title {
    margin-top: 3rem;
    text-align: center;
    font-size: 3rem;
    padding: 0 1rem;
}
 .modal-galery .content-galery {
    display: grid;
    gap: 2rem;
    padding: 4rem 3rem 4rem;
} 
@media(min-width: 500px) {
    .modal-galery .content-galery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
}
@media(min-width: 900px) {
    .modal-galery .content-galery {
        gap: 4rem;
        padding: 4rem;
    } 
}
@media(min-width: 1800px) {
    .horizontal .modal-galery {
        width: 80rem;
    }   
}