.profile {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0rem 2rem;
}
.horizontal .profile {
    margin: 2rem 2rem 0rem 2rem;
}
.profile .box-logo {
    width: 10.5rem;
}
.horizontal .profile .box-logo {
    width: 11rem;
}
.profile .box-photo {
    width: 3rem;
    height: 3rem;
}
.horizontal .profile .box-photo {
    width: 3rem;
    height: 3rem;
}
.profile .box-logo .logo,
.profile .box-photo .photo {
    width: 100%;
    height: 100%;
}
.profile .box-logo .logo {
    object-fit: contain;
    object-position: top;
}
.profile .box-photo .photo {
    border-radius: 50%;
    box-shadow: 0 0.5rem 0.5rem var(--box-shadow);
}
@media(min-height:350px) {
    .horizontal .profile {
        margin: 2rem 0 2rem 2rem;
    }
}
@media(min-height:400px) {
    .horizontal .profile .box-logo {
        width: 14.5rem;
    }
    .horizontal .profile .box-photo {
        width: 4rem;
        height: 4rem;
    }
}
@media(min-height:500px) {
    .horizontal .profile .box-logo {
        width: 15.5rem;
    }
    .horizontal .profile .box-photo {
        width: 4.5rem;
        height: 4.5rem;
    }
}
@media(min-height: 600px) {
    .horizontal .profile {
        margin: 4rem 0rem 4rem 4rem;
    }
    .profile .box-logo {
        width: 15rem;
    }
    .horizontal .profile .box-logo {
        width: 18rem;
    }
    .profile .box-photo {
        width: 5rem;
        height: 5rem;
    }
    .horizontal .profile .box-photo {
        width: 6rem;
        height: 6rem;
    }
}

@media(min-height: 700px) {

    .horizontal .profile .box-logo {
        width: 21rem;
    }
    .horizontal .profile .box-photo {
        width: 7rem;
        height: 7rem;
    }
}

@media(min-height: 700px) {
    .horizontal .profile {
        margin: 4rem 0rem 5rem 4rem;
    }
    .horizontal .profile .box-logo {
        width: 24rem;
    }
    .horizontal .profile .box-photo {
        width: 8rem;
        height: 8rem;
    }
}

@media(min-height: 900px) {
    .horizontal .profile {
        margin: 6rem 0rem 5rem 6rem;
    }
    .profile .box-logo {
        width: 19rem;
    }
    .horizontal .profile .box-logo {
        width: 27rem;
    }
    .profile .box-photo {
        width: 6rem;
        height: 6rem;
    }
    .horizontal .profile .box-photo {
        width: 9rem;
        height: 9rem;
    }
}
@media(min-width: 600px) {
    .profile {
        margin: 4rem 4rem 0rem 4rem;
    }
    .profile .box-logo {
        width: 24rem;
    }
    .profile .box-photo {
        width: 8rem;
        height: 8rem;
    }
}
@media(min-width: 800px) {
    .profile .box-logo {
        width: 30rem;
    }
    .profile .box-photo {
        width: 9rem;
        height: 9rem;
    }
}
@media(min-width: 1000px) {
    .profile .box-logo {
        width: 33rem;
    }
    .profile .box-photo {
        width: 10rem;
        height: 10rem;
    }
}

@media(min-width:1800px) and (min-height: 1000px) {
    .horizontal .profile .box-logo {
        width: 28rem;
    }
    .horizontal .profile .box-photo {
        width: 12rem;
        height: 12rem;
    }
}

@media(min-width:2100px) and (min-height: 1200px) {
    .horizontal .profile .box-logo {
        width: 38rem;
    }
    .horizontal .profile .box-photo {
        width: 14rem;
        height: 14rem;
    }
}