.btn-contact {
    background: var(--green);
    padding: 0.6rem;
    border-radius: 5rem;
    display: flex;
}
.horizontal .btn-contact {
    padding: 0.5rem;
}
.btn-contact svg {
    width: 1.3rem;
    height: 1.3rem;
}
.horizontal .btn-contact svg {
    width: 1.2rem;
    height: 1.2rem;
}
@media(min-height:350px) {
    .horizontal .btn-contact {
        padding: 0.7rem;
    }
    .horizontal .btn-contact svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}
@media(min-height:400px) {
    .horizontal .btn-contact {
        padding: 0.8rem;
    }
}
@media(min-height:600px) {
    .btn-contact svg {
        width: 1.9rem;
        height: 1.9rem;
    }
    .horizontal .btn-contact {
        padding: 1.2rem;
    }
    .horizontal .btn-contact svg {
        width: 2.3rem;
        height: 2.3rem;
    }
}
@media(min-height:900px) {
    .btn-contact {
        padding: 1.3rem;
    }
    .horizontal .btn-contact {
        padding: 1.4rem;
    }
    .btn-contact svg {
        width: 2rem;
        height: 2rem;
    }
    .horizontal .btn-contact svg {
        width: 2.6rem;
        height: 2.6rem;
    }
}
@media(min-width:600px) {
    .btn-contact svg {
        width: 2.4rem;
        height: 2.4rem;
    }
}
@media(min-width:800px) {
    .btn-contact svg {
        width: 3rem;
        height: 3rem;
    }
}
@media(min-width:1000px) {
    .btn-contact {
        padding: 1.5rem;
    }
    .btn-contact svg {
        width: 3.5rem;
        height: 3.5rem;
    }
}
/* @media(min-width:1000px) {
    .btn-contact {
        padding: 1.3rem;
    }
    .btn-contact svg {
        width: 2.2rem;
        height: 2.2rem;
    }
} */