.section-apps .box-content {
    width: 100%;
    height: 100%;
    background: radial-gradient(#3C95FF 0%, #FFFFFF 60%);
}

.horizontal-center {
    transform: translateX(0%) rotateY(0deg);
}

.left {
    transform: translateX(-100%) rotateY(-100deg);
}

.right {
    transform: translateX(100%) rotateY(100deg);
}
