.box-btn-nav {
    width: 14rem;
    height: 3.5rem;
    background: transparent;
}
.box-btn-nav .btn-nav {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    font-size: 1.4rem;
    transition: all 0.2s ease;
    cursor: pointer;
}
.box-btn-nav .btn-nav:active {
    font-size: 1rem;
}
.box-btn-nav .btn-black {
    color: var(--black);
}
.box-btn-nav .btn-white,
.active .btn-blue,
.active .btn-green,
.active .btn-orange {
    color: var(--white);
}
.active .btn-black {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 0 0.4rem rgb(0, 0, 0);
}
.active .btn-white {
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.308);
}
.active .btn-blue {
    background-color: var(--blue);
    box-shadow: 0 0 0.4rem var(--blue-shadow);
}
.active .btn-green {
    background-color: var(--green);
    box-shadow: 0 0 0.4rem var(--green-shadow);
}
.active .btn-orange {
    background-color: var(--orange);
    box-shadow: 0 0 0.4rem var(--orange-shadown);
}
@media(min-width: 900px) {
    .box-btn-nav {
        width: 18rem;
        height: 4.5rem;
    }
    .box-btn-nav .btn-nav {
        font-size: 1.8rem;
    }
}
@media(min-width: 1100px) {
    .box-btn-nav {
        width: 10rem;
        height: 3.5rem;
    }
    .box-btn-nav .btn-nav {
        font-size: 1rem;
    }
}

@media(min-width: 1300px) {
    .box-btn-nav {
        width: 14rem;
        height: 4rem;
    }
    .box-btn-nav .btn-nav {
        font-size: 1.3rem;
    }
}

@media(min-width: 1500px) {
    .box-btn-nav {
        width: 18rem;
        height: 4.5rem;
    }
    .box-btn-nav .btn-nav {
        font-size: 1.5rem;
    }
}