/*
en horizontal
min-height: 600px margin 4rem; 
min-heigth: 900px margin 6rem;

min-width:2100px and min-height: 1200px
.horizontal .about {
    margin: 0 0 6rem 6rem;
}

en vertical 
min-width: 600px margin 4rem; 

*/
.section-skills {
    background-color: var(--coffee);
    box-shadow: 0 0 1.5rem 0.5rem #ebb762bb;
}
.active .ss-btn-nav-active {
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.76);
}
.section-skills .ss-box-content {
    margin-top: 6.2rem;
    padding-left: 2rem;
}
.horizontal .section-skills .ss-box-content {
    margin-top: 4.5rem;
    padding-left: 2rem;
}
.ss-box-content .box-list-skills {
    position: relative;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    gap: 2rem;
    z-index: 1;
}
.horizontal .ss-box-content .box-list-skills {
    margin-top: 2rem;
    height: 7.2rem;
    gap: 1rem;
}

@media(min-width:850px) and (min-height:330px) {
    .horizontal .ss-box-content .box-list-skills {
        height: 5rem;
    }
}

@media(min-height:400px) {
    .horizontal .ss-box-content .box-list-skills {
        height: 13rem;
        column-gap: 2rem;
    }
}
@media(min-width: 600px)  {
    .section-skills .ss-box-content {
        padding: 2rem 4rem;
    }
}

@media(min-height:900px) {
    .horizontal .ss-box-content .box-list-skills {
        margin-top: 4rem;
    }
}

@media(min-width:600px) and (min-height: 800px) {
    .section-skills .ss-box-content {
        padding: 7rem 4rem;
    }
}
@media(min-width:800px) and (min-height: 600px) {
    .horizontal .section-skills .ss-box-content {
        padding: 2rem 4rem;
    }
}
@media(min-width:1000px) and (min-height:600px) {
    .horizontal .ss-box-content .box-list-skills {
        height: 20rem;
    }
}

@media(min-width:1000px) and (min-height:650px){
    .horizontal .ss-box-content .box-list-skills {
        height: 27rem;
    }
}

@media(min-width:1000px) and (min-height: 900px) {
    .horizontal .section-skills .ss-box-content {
        padding: 5rem 6rem;
    }  
}

@media(min-width: 1000px) and (min-height:1300px) {
    .ss-box-content .box-list-skills {
        gap: 3rem;
    }
}
@media(min-width: 1300px) and (min-height:1000px) {
    .horizontal .ss-box-content .box-list-skills {
        gap: 3rem;
        height: 40rem;
    }
}