.section-skills {
    background-color: var(--coffee);
    box-shadow: 0 0 1.5rem 0.5rem #ebb762bb;
}
.section-skills nav {
    padding: 1.5rem 2rem 0rem 2rem;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    border-radius: 3rem 3rem 0 0;
    z-index: 1;
}
.nav-btns-proyects {
    display: none;
}
.active .ss-btn-nav-active {
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.76);
}
.section-skills .ss-box-content {
    margin-top: 4.2rem;
}