.section-skills .description {
    position: relative;
    padding-top: 1rem;
    width: 24rem;
    color: var(--white);
    font-weight: var(--font-light);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    z-index: 1;
}
.horizontal .section-skills .description {
    width: 30rem;
}
@media(min-height:370px) {
    .section-skills .description {
        font-size: 1.2rem;
    }
}

@media(min-width:500px) {
    .section-skills .description {
        font-size: 1.5rem;
        width: 35rem;
    }
}

@media(min-width:800px) {
    .horizontal .section-skills .description {
        font-size: 1.5rem;
        width: 40rem;
    }
}
@media(min-height:900px) {
    .section-skills .description {
        font-size: 1.4rem;
        width: 30rem;
    }
}

@media(min-width: 700px) and (min-height:1000px) {
    .section-skills .description {
        font-size: 1.8rem;
        width: 45rem;
    }
}

@media(min-width:1000px) and (min-height:600px){
    .horizontal .section-skills .description {
        font-size: 2rem;
        width: 50rem;
    }
}


@media(min-width: 1000px) and (min-height:1300px) {
    .section-skills .description {
        font-size: 2.5rem;
        width: 50rem;
    }
}
@media(min-width: 1300px) and (min-height:1000px) {
    .horizontal .section-skills .description {
        font-size: 2.5rem;
        width: 55rem;
    }
}

@media(min-width: 1600px) {
    .horizontal .section-skills .description {
        font-size: 2.5rem;
        width: 60rem;
    }
}