.img-font {
    background-image: url('../../../../assets//header/font-mobile.jpg');
    background-size: cover;
    width: 100%;
    height: 50%;
    border-radius: var(--radius-phone) var(--radius-phone) 0 0;
}
.horizontal section .img-font {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    border-radius: 0 var(--radius-phone) var(--radius-phone) 0;
}
.horizontal section .font-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 36%;
    height: 100%;
    background: var(--white);
    border-radius: 3rem 0 0 3rem;
}
.horizontal section .font-left svg {
    position: absolute;
    height: 100%;
    top: 0;
    left: 99.8%;
}
@media(min-width: 420px) {
    .img-font {
        background-image: url('../../../../assets//header/font-table.jpg');
    }
}
