.box-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white);
    width: 100%;
    z-index: 2;
    display: grid;
    justify-content: center;
    padding: 3rem 0 2rem;
    box-shadow: 0 0.5rem 0.5rem var(--box-shadow);
    gap: 2rem;
}