nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1.5rem 2rem 0rem 2rem;
}
.box-btn-menu {
    display: block;
}
.nav-btns {
    display: none;
}
@media(min-height: 700px) {
    .horizontal nav {
        height: 8rem;
        padding: 0 3rem;
    }
}
@media(min-width:750px) {
    .box-btn-menu {
        display: none;
    }
    .nav-btns {
        display: flex;
        gap: 2rem;
    }
}
@media(min-height: 1000px) {
    nav {
        height: 8rem;
        padding: 0 4rem;
    }
}
@media(min-width: 1000px) {
    .horizontal nav {
        height: 10rem;
        padding: 0 4rem;
    }
    .horizontal .nav-btns {
        gap: 4rem;
    }
}
@media(min-width: 1300px) {
    .horizontal .nav-btns {
        gap: 8rem;
    }
}
@media(min-width: 2000px) {
    .horizontal .nav-btns {
        gap: 10rem;
    }
}