.section-skills .ilustration {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 250px;
    transform: rotate(0);
    z-index: 1;
}
.horizontal .section-skills .ilustration {
    width: 250px;
    height: 200px;
}
.section-skills .ilustration .figure {
    width: 100%;
    height: 100%;
    border-radius: 0 0 3rem 0;
}
.section-skills .ilustration svg {
    position: absolute;
    width: 11rem;
    height: auto;
    bottom: 3rem;
    right: 3rem;
}
@media(min-width:850px) and (min-height:330px) {
    .horizontal .section-skills .ilustration {
        width: 29rem;
        height: 20rem;
    }
    .horizontal .section-skills .ilustration svg {
        width: 10rem;
        bottom: 3.5rem;
        right: 5.5rem;
    }
}
@media(min-height:370px) {
    .horizontal .section-skills .ilustration {
        width: 29rem;
        height: 23rem;
    }
    .horizontal .section-skills .ilustration svg {
        width: 13rem;
        bottom: 3.5rem;
        right: 3.5rem;
    }
}
@media(min-height:400px) {
    .horizontal .section-skills .ilustration {
        width: 40rem;
        height: 26rem;
    }
    .horizontal .section-skills .ilustration svg {
        width: 15rem;
        right: 7rem;
    }
}
@media(min-height: 600px) {
    .horizontal .section-skills .ilustration {
        width: 55%;
        height: 35rem;
    }
    .horizontal .section-skills .ilustration svg {
        width: 20rem;
        bottom: 5rem;
        right: 6rem;
    }
}
@media(min-height:700px) {
    .section-skills .ilustration {
        width: 85%;
        height: 35rem;
    }
    .section-skills .ilustration svg {
        width: 14rem;
        bottom: 5rem;
        right: 3.5rem;
    }
}

@media(min-height:800px) {
    .section-skills .ilustration {
        height: 35rem;
    }
    .section-skills .ilustration svg {
        width: 14rem;
        bottom: 6rem;
        right: 3rem;
    }
}

@media(min-width: 700px) and (min-height:1000px) {
    .section-skills .ilustration {
        width: 85%;
        height: 60%;
    }
    .section-skills .ilustration svg {
        width: 50%;
        bottom: 5rem;
        right: 5rem;
    }
}

@media(min-width:1000px) and (min-height:650px){
    .horizontal .section-skills .ilustration {
        width: 70%;
        height: 70%;
    }
    .horizontal .section-skills .ilustration svg {
        width: 50%;
        max-width: 40.7rem;
        bottom: 5rem;
        right: 5rem;
    }
}

@media(min-width: 800px) and (min-height:1100px) {
    .section-skills .ilustration svg {
        bottom: 10rem;
        right: 6rem;
    }
}
@media(min-width: 1100px) and (min-height:800px) {
    .horizontal .section-skills .ilustration {
        width: 70%;
        height: 80%;
    }
}
@media(min-width: 1600px) {
    .horizontal .section-skills .ilustration svg {
        bottom: 5rem;
        right: 15rem;
    }
}