section {
    position: absolute;
    background: var(--white);
    width: 80%;
    height: 80%;
    border-radius: 3rem;
    box-shadow: 0 0 2.1rem 1.4rem rgba(0, 0, 0, 0.055);
    background-color: var(--dark-overlay);
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transition-delay: 0.1s;
    z-index: 1;
}
.vertical-center {
    transform: translateY(0%) rotateX(0deg);
}
.top {
    transform: translateY(-50%) rotateX(100deg);
}
.bottom {
    transform: translateY(100%) rotateX(-100deg);
}
@media(min-width: 800px) and (min-height: 440px) {
    section {
        border-radius: 4rem;
    }
}
@media(min-width:440px) and (min-height:800px) {
    section {
        border-radius: 4rem;
    }
}
/*
@media(min-width: 900px) {
    .info {
        background: var(--white);
        border-radius: 0 7.9rem 3rem 3rem;
    }
} */