.btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    width: 2.7rem;
    height: 2.7rem;
    justify-self: flex-end;
    border-radius: 0.5rem;
    transition: all 0.1s ease;
    cursor: pointer;
}
.btn-menu svg {
    width: 100%;
    height: 100%;
}
.btn-menu:active {
    width: 2.2rem;
    height: 2.2rem;
}
@media(min-width: 600px) {
    .btn-menu {
        width: 4rem;
        height: 4rem;
    }
    .btn-menu:active {
        width: 3.5rem;
        height: 3.5rem;
    }
}
@media(min-width: 900px) {
    .btn-menu {
        width: 5rem;
        height: 5rem;
    }
    .btn-menu:active {
        width: 4.5rem;
        height: 4.5rem;
    }
}