:root {
  --white: #ffffff;
  --black: #000000;
  --coffee: #CC9A48;
  --soft-mocha: #826343;
  --blue: #3C95FF;
  --green: #13361C;
  --orange: #FF7A00;
  --font-regular: 400;
  --font-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Raleway", serif;
}