:root {
  --white: #ffffff;
  --black: #000000;
  --box-shadow: #0000003f;
  --gray: #666666;
  --coffee: #CC9A48;
  --soft-mocha: #826343;
  --blue: #3C95FF;
  --blue-shadow: #3c94ffa4;
  --green: #13361C;
  --orange: #FF7A00;
  --font-regular: 400;
  --font-bold: 600;
  --font-family: "Raleway", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: var(--font-family);
}
html,
body {
  background-color: var(--white);
  min-width: 32rem;
  overflow: hidden;
}

button {
  outline: none;
  border: none;
  background: none;
  font-family: "Raleway", serif;
}