.info {
    background: var(--white);
    border-radius: 0 3rem 3rem 3rem;
}
.horizontal section .header-content .info {
    grid-row: 1 / 2;
    border-radius: 3rem 0 0 3rem;
    background: none;
}
@media(min-width: 400px) {
    .info {
        border-radius: 0 4.3rem 4rem 4rem;
    }
    .horizontal section .header-content .info {
        border-radius: 4rem 0 0 4rem;
    }
}
@media(min-width: 600px) {
    .info {
        border-radius: 0 6.3rem 4rem 4rem;
    }
    .horizontal section .header-content .info {
        border-radius: 4rem 0 0 4rem;
    }
}
@media(min-width: 1000px) {
    .info {
        border-radius: 0 9.3rem 4rem 4rem;
    }
    .horizontal section .header-content .info {
        border-radius: 4rem 0 0 4rem;
    }
}